# EDIT ZSH CONFIG
alias ez="vim ~/.zshrc"
alias rz="source ~/.zshrc" 

# EDIT VIM CONFIG 
alias vv="vim ~/.vimrc"

# EDIT ALIASES
alias aa="vim ~/.aliases"

# GHOSTTY
alias ghost="vim ~/.config/ghostty/config"

# OS
alias c="clear"
alias cat="bat"
alias ls="ls -Gal"
alias o="open ."
alias pls="sudo !!"
alias tree="tree -a -L 3"

# GIT
alias add="git add"
alias cout="git checkout"
alias comm="git commit"
alias diff="git diff HEAD"
alias fp="git push --force-with-lease"
alias gb="git branch --all"
alias gf="git fetch --all"
alias gl="git log --abbrev-commit --decorate --oneline"
alias gr="git rebase -i"
alias gs="git status -sb --show-stash --ahead-behind"
alias gst="git stash"
alias gsl="git stash list"
alias gsp="git stash pop"
alias push="git push"
alias pull="git pull"
alias recomm="git commit --amend --no-edit"
alias unstage="git restore --staged"

# NODE
alias destroy="rm -rf node_modules && yarn cache clean"
alias npmg="npm list -g --depth 0"  
alias yarng="yarn global list"
